INDEX CODE
<ul>
  <%= image_tag("#{@user.image_url}", :alt => "Eet broke...") %>
  <h2> <%= @user.name %> </h2>

  <li>
    <%= link_to "ID: #{user.id}", "/users/#{user.id}"%>
    Name: <%= @user.name %>
    Email: <%= @user.email %>
  </li>
</ul>


LOOKUP Scaffold_controller

<!-- <li> <%= img_tag("#{user.img_url}") %></li> -->
