<div class="header">
  <h1>Welcome to Cheerups!</h1>
  <p>The purpose </p>
</div>

<ul>
  <% @cheerups.each do |cheerup| %>
    <div class="list">
      <li>
        <!-- <div class="author">
          <h4><%= cheerup.user.image_url %><h4>
          <h4><%= cheerup.user.name %></h4>
        </div> -->

        <div class="cheerup">
          <h3><%= cheerup.title %> </h3>
          <p><%= cheerup.content %></p>
          <% if cheerup.user_id == current_user %>
            <%= link_to "Edit Your cheerup" , edit_cheerup_path(id: cheerup.id) %>
          <% end %>
        </div>

      </li>
    </div>
  <% end %>
</ul>
